##########################
#This config the frame



##########################
#config bus
config ENABLE_FRAME_BUS
    bool "Enable framework bus"
    select ENABLE_MODULE_WLIST
    help
        The bus framework support





