#Tha applicaton Kconfig file
#
#
#
#rs485d

config ENABLE_APP_RS485D
    bool "Enable rs485d"
    default y
    help
        compile rs485d

menu "rs485d"
depends on ENABLE_APP_RS485D
source app/rs485d/Kconfig
endmenu


config  ENABLE_APP_RS485C
    bool "Enable rs485c"
    help
        compile rs485c

menu "rs485c"
depends on ENABLE_APP_RS485C
source app/rs485c/Kconfig
endmenu



config ENABLE_APP_RS485D_MASTER
    bool "Enable rs485d-master"
    help
        compile rs485d-master app



config ENABLE_APP_TEST
    bool "Enable test"
    help
        compile test app


