#Tha applicaton Kconfig file
#
#
#
#rs485d

config ENABLE_APP_RS485D
    bool "Enable rs485d"
    default y
    help
        compile rs485d

#menu "rs485d"
#depends on ENABLE_APP_RS485D
#source app/rs485d/Kconfig
#endmenu


config  ENABLE_APP_RS485C
    bool "Enable rs485c"
    help
        compile rs485c

menu "rs485c"
depends on ENABLE_APP_RS485C
source app/rs485c/Kconfig
endmenu




